<mat-toolbar style="background-color: #424242;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon><a href="#">home</a>   </mat-icon>
    </button>
    <span  style="margin-left: 15px; color: aliceblue;" > StorEase </span>
    <span class="example-spacer"></span>
    <h5 class="stiloHeader">Você está logado com @Nome-User  </h5>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon routerLink="Cadastro">perm_identity</mat-icon>
    </button>

  </mat-toolbar>    
