<!DOCTYPE html>
<html>
<head>
    <title>Controle de Estoque</title>
   
</head>
<body>
    <h1>Lista de Itens de Estoque</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <td>1</td>
            <td>Cilindro</td>
            <td>27</td>
            <td>400,00</td>
            <td><mat-icon style="color: blue;">edit</mat-icon></td>
            <td><mat-icon style="color: red;">delete_forever</mat-icon></td>
        </tbody>
    </table>
</body>
</html>

