<!DOCTYPE html>
<html>
<head>
    <title>Controle de Estoque</title>
</head>
<body>
    <h1>Lista de Itens de Estoque</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                
            </tr>
        </thead>
        <tbody>
            <!-- Utilize *ngFor para iterar sobre os itens e exibi-los na tabela -->
            <ng-container *ngFor="let item of items">
                <tr *ngIf="item.quantidade <= 100 && item.quantidade > 0">
                <td>{{ item.id }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.preco }}</td>
                
                
            </tr>
        </ng-container>
        </tbody>
    </table>
</body>
</html>
