<span class="allin">Bem vindo @User</span><br><br><br>

<div fxLayout="row">
    <div class="retangulo1"> 
      {{qtdItens}} Itens cadastrados<br> <h5>{{qtdItens}} itens em estoque </h5> <br> <h5><a routerLink="/ItensEstoque">Clique para visualizar</a></h5>
    </div>

    <div class="retangulo2">1 Produto com estoque zerado<br><br><br><a routerLink="EstoqueZero"><h5>clique para visualizar</h5></a> </div>
    <div class="retangulo3">2 Produtos com estoque minimo<br><br><br><a routerLink="EstoqueMinimo"><h5>clique para visualizar</h5></a> </div>
  </div>


  <br>
  <div class="allin">
    
    <router-outlet></router-outlet>
  
</div>